* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('vr.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000; 
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon, .menu {
    display: flex;
    align-items: center;
}

.logo {
    color: orange;
    font-size: 35px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: orange;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px 20px;
    color: white;
    text-align: left;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.content .paragraph {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact {
    background: orange;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.contact:hover {
    background: white;
    color: orange;
}

h3 {
    margin-top: 50px;
}

    
.btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
    
.btnn{
    background: white;
    color: orange;
}
    
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.flyer {
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}

.flyer img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.flyer-description h3 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.flyer-description p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.flyer-description .btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.flyer-description .btn:hover {
    background-color: white;
    color: orange;
}

.flyer {
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}

.flyer img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flyer-description h3 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.flyer-description p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.flyer-description .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.flyer-description .btn:hover {
    background-color: white;
    color: orange;
}

iframe {
    width: 500px;
    height: 600px; 
    border: none; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box;
}

.iframe-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.iframe-container iframe {
    width: 80%;
    max-width: 600px;
    height: 600px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons .icon {
    margin: 0 10px;
    transition: transform 0.3s ease-out;
}

.social-icons .icon img {
    width: 30px;
    height: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease-out, filter 0.3s ease-out;
}

.social-icons .icon:hover {
    opacity: 1;
}

.social-icons .icon:hover img {
    opacity: 1;
    filter: brightness(150%);
}

